.container {
  width: 1000px;
  margin: 15px auto 0;
}

.container > .header {
  margin-bottom: 15px;
}

.container > .header .logo {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-weight: 900;
  display: inline-block;
  padding-left: 35px;
  background-image: url("/images/logo.white.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

.container > .header .navigation {
  float: right;
  margin: 5px 0 0 0;
}

.container .header .navigation a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  margin-left: 15px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

.container > .header .navigation a:hover {
  color: #fff;
}

.container > .header .profile {
  float: right;
  margin: 5px 0 0 15px;
  padding: 0 0 0 15px;
  border-left: solid 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.container > .header .profile:hover .user {
  color: #fff;
}

.container > .header .profile:hover .arrow {
  color: rgba(255, 255, 255, 0.8);
}

.container > .header .profile .user {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 16px;
  float: left;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.container > .header .profile .arrow {
	color: rgba(255, 255, 255, 0.6);
	float: right;
	display: inline-block;
	margin: 5px 0 0 15px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.container > .header .profile .dropdown {
  position: absolute;
  top: 32px;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  padding: 5px 0;
  background: #FFFFFF;
  display: none;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
  -moz-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
  -ms-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
  -o-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
  box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
}

.container > .header .profile .dropdown:before {
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -5px;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	content: "";
}

.container > .header .profile .dropdown a {
  display: block;
  padding: 5px 15px;
  font-family: 'Titillium Web', sans-serif;
  border-top: solid 1px #F0F2F2;
}

.container > .header .profile .dropdown a:first-child {
  border: none;
}

.container > .header .profile .dropdown a:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.05);

  background: #3fa9e5;
  background-image: -webkit-linear-gradient(#3fa9e5,#0f8fdc);
  background-image: -moz-linear-gradient(#3fa9e5,#0f8fdc);
  background-image: -ms-linear-gradient(#3fa9e5,#0f8fdc);
  background-image: -o-linear-gradient(#3fa9e5,#0f8fdc);
  background-image: linear-gradient(#3fa9e5,#0f8fdc);
}

.container .modal {
  background: #FFFFFF;
  overflow: hidden;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
  -moz-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
  -ms-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
  -o-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
  box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
}

.container .modal .sidebar {
  background: 180px;
  background: #eff7fb;
  height: 500px;
  width: 180px;
}

.container .modal .sidebar > .header {
  background: #3fa9e5;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  cursor: pointer;
}

.container .modal .sidebar > .header:hover {
  background: #38a0dc;
}

.container .modal .sidebar > .header:hover:active {
  background: #3792c7;
}

.container .modal .sidebar > .header .project {
  display: inline-block;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 16px;
  float: left;
}

.container .modal .sidebar > .header .arrow {
	color: rgba(255, 255, 255, 0.8);
	float: right;
	display: inline-block;
	margin: 5px 0 0 15px;
}

.container .modal .sidebar .content .header {
  padding: 10px 15px 0 15px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px #fff;
  color: #838ca2;
}

.footer {
  position: relative;
  padding-top: 10px;
}
