<% include ../includes/start.ejs %>
<div class="container">
  <div class="logo"><%= siteName %></div>
  <div class="modal">
    <div class="message">Email Was Verified!</div>
    <div class="submessage">
      Your email has been verified.<br>
      Open up the dashboard to start working!
    </div>
    <a href="/dashboard" class="button">Open Dashboard</a>
  </div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
