<% include ../includes/start.ejs %>
<div class="container">
  <div class="logo"><%= siteName %></div>
  <div class="modal">
    <div class="message">Your Link Has Expired :(</div>
    <a href="/login" class="button">Login In</a>
  </div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
