<% include ../includes/start.ejs %>
<div class="container">
  <a href="/" class="logo"><%= siteName %></a>
  <div class="modal">
    <div class="message">Let's Go Dynamic!</div>
    <form action="/register">
      <input type="hidden" name="_csrf" value="<%= csrf %>">
      <input type="text" class="input" name="email" placeholder="Email" step="1" autofocus required>
      <input type="password" class="input" name="password" placeholder="Password" step="2" required>
      <input type="password" class="input" name="password_confirm" placeholder="Confirm Password" step="3" required>
      <input type="submit" class="button" value="Create Account!">
    </form>
  </div>
  <div class="bottom-text">
    Already have an account?
    <a href="/login">Sign In</a>
  </div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
