<% include ../includes/start.ejs %>
<div class="container">
  <% include ./header.ejs %>
  <div class="modal">
    <div class="sidebar">
      <div class="header">
        <div class="project">Night Owl</div>
        <div class="arrow fa fa-angle-down"></div>
        <div class="clear"></div>
      </div>
      <div class="content">
        <div class="header">Platforms</div>
      </div>
    </div>
  </div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
