<div class="footer">
  <a href="mailto:vallelungabrian@gmail.com" id="contactUs">Contact Us</a>
  •
  <a href="/terms" target="_blank" id="TOS">Terms of Use</a>
  •
  <a href="/privacy" target="_blank" id="privacy">Privacy</a>
</div>
