<div class="footer">
  <a href="/">Home</a>
  •
  <a href="/privacy" target="_blank">Privacy</a>
  •
  <a href="/terms" target="_blank">Terms of Use</a>
  •
  <a href="mailto:vallelungabrian@gmail.com">Contact Us</a>
</div>
