<!DOCTYPE html>
<html itemscope="itemscope" itemtype="http://schema.org/WebPage" lang="en">
	<head>
		<% include meta.ejs %>
		<% include css.ejs %>
	</head>
	<body>
    <div class="background <%= template.replace(/\//g, "_") %> <%= template.split("/")[0] %>"></div>
